{% extends 'admin/base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <h1>Private Diaryにようこそ！</h1>
            <form method="post" action="{% url 'account_login' %}">
              　{% csrf_token %}

                {{ form.as_p }}

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <input type="submit" value="login" />
            </form>
        </div>
    </div>
{% endblock %}
