{% extends 'base.html' %}
{% load static %}

{% block title %}コメント追加{% endblock %}

{% block head %}
<link href="{% static 'css/clean-blog.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <form method="POST">
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <button class="btn btn-primary" type="submit">コメント作成</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
