{% extends 'base.html' %}
{% load static %}
{% block title %}日記の詳細{% endblock %}

{% block head %}
<link href="{% static 'css/clean-blog.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="my-div-style w-100">
        <div class="row">
            <div class="col-3">
                <strong>タイトル</strong>
            </div>
            <div class="col-9">
                {{ object.title }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>本文</strong>
            </div>
            <div class="col-9">
                {{ object.content | linebreaksbr | urlize }}
            </div>
        </div>

        <hr>

         <div class="row">
            <div class="col-3">
                <strong>写真</strong>
            </div>
            <div class="col-3">
                {% if object.photo1 %}
                    <img src="{{ object.photo1.url }}" width="200" height="200" />
                {% endif %}
            </div>
            <div class="col-3">
                {% if object.photo2 %}
                    <img src="{{ object.photo2.url }}" width="200" height="200" />
                {% endif %}
            </div>
            <div class="col-3">
                {% if object.photo3 %}
                    <img src="{{ object.photo3.url }}" width="200" height="200" />
                {% endif %}
            </div>
        </div>


        <hr>


        <div class="row">
            <div class="col-3">
                <strong>投稿者</strong>
            </div>
            <div class="col-9">
                {{ object.author }}
            </div>
        </div>

        <hr>


        <div class="row">
            <div class="col-3">
                <strong>作成日時</strong>
            </div>
            <div class="col-9">
                {{ object.created_at }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>更新日時</strong>
            </div>
            <div class="col-9">
                {{ object.updated_at }}
            </div>
        </div>
　　　　　　
        <a class="btn btn-info mt-5 mb-3" href="{% url 'diary:comment_create' object.pk %}">コメントする</a>
        <a class="btn btn-primary mt-5 mb-3" href="{% url 'diary:diary_list' %}">戻る</a>
        <a class="btn btn-success mt-5 mb-3" href="{% url 'diary:diary_update' object.pk %}">編集</a>
        <a class="btn btn-danger mt-5 ml-2 mb-3" href="{% url 'diary:diary_delete' object.pk %}">削除</a>

        <section class="section">
            {% for comment in object.comment_set.all %}
            <div class="box">
                {{ comment.text | linebreaks | urlize }} - {{ comment.author }}より - {{ comment.created_at }}
            </div>

            <hr>
            {% endfor %}
        </section>
    </div>
</div>
{% endblock %}
