{% extends 'base.html' %}
{% load static %}

{% block title %}日記一覧{% endblock %}

{% block head %}
<link href="{% static 'css/clean-blog.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}

    <header class="masthead" style="background-image: url({% static 'assets/img/home-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>日記一覧</h1>
                    <span class="subheading">日記一覧</span>
                </div>
            </div>
        </div>
    </div>
    </header>

{% endblock %}

{% block content %}
<div class="container px-4 px-lg-5">

    <div class="row gx-4 gx-lg-5 justify-content-center">

        <div class="col-md-10 col-lg-8 col-xl-7">

            <div class="d-flex flex-row mb-3 justify-content-between">
                <a class="btn btn-primary float-right" href="{% url 'diary:diary_create' %}">新規作成</a>
                <div class="float-right">
                    <form method="GET">
                        <input name="query" value="{{ request.GET.query }}" type="text">
                        <button class="btn btn-info" type="submit">検索する</button>
                    </form>
                </div>
            </div>

            <!-- Post preview-->
            <hr>
            {% for diary in diary_list %}
            <div class="post-preview">
                <a href="{% url 'diary:diary_detail' diary.pk %}">
                    <h2 class="post-title">{{ diary.title }}</h2>
                    <h3 class="post-subtitle">{{ diary.content | truncatechars:20 }}</h3>
                </a>
                <p class="post-meta">Posted by {{ diary.author }}, {{ diary.created_at }}</p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% empty %}
            <p>雑記がありません。</p>
            {% endfor %}

            <!-- Pager-->
            {% if is_paginated %}
                <ul class="pagination">
                    <!-- 前ページへのリンク -->
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    <!-- ページ数表示 -->
                    {% for page_num in page_obj.paginator.page_range %}
                        {% if page_obj.number == page_num %}
                            <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                        {% endif %}
                    {% endfor %}

                    <!-- 次ページへのリンク -->
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}

        </div>

    </div>
</div>
{% endblock %}
